<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>New teddy model</title>
    <style>
        body{
        background-image: url("https://i.imgur.com/vPrRtrF.jpg");
        background-size: 100%;
    }
            table{ 
        margin: 0 auto;
        width:500px;
        height:50px;
        padding-top: 97px;
        padding-bottom: 30px;
    }
    </style>
</head>
<body>

    <table class="table bordered">teddy
    <th>
    <a href="/teddy" style="color:black">All Teddy bear</a>
    </th>
    <th>
    <a href="insert" style="color:black">Add Teddy bear</a>
    </th>
    <th><form action="/doSearch" method="post">
    teddy model <input type="text" name="teddy" id="">
    <input type="submit" value="Search">
    </form>
    </th>

    </table>

    <form action="/doInsert" method="post">
    <table style="text-align:left"> 
    <tr>
        <th>Name</th>
        <th><input type="text" name="txtName" id=""></th>  
        <th><label for="" style="color:white; blink: 1s">{{model.nameError}}</label></th>      
    </tr>

    <tr>
        <th>Size</th>
        <th><input type="text" name="txtSize" id=""></th>
        <th><label for="" style="color:white; blink: 1s">{{model.SizeError}}</label></th>
    </tr>
        <th>Price</th>
        <th><input type="text" name="txtPrice" id=""></th>
    <tr>
        <th>Amount</th>
        <th><input type="text" name="txtAmount" id=""></th>
    </tr>
    <tr>
        <th></th>
        <th><input type="submit" value="Insert"></th>
    </tr>
    </table>
    </form>
</body>
</html>